{:com.adityaathalye.grugstack.system.core/settings {:app-name "example_app"
                                                    :runtime-environment-type "dev"
                                                    :system-modules [:com.adityaathalye.grugstack.system.sqlite
                                                                     :com.adityaathalye.grugstack.system.runtime
                                                                     :com.adityaathalye.grugstack.system.application
                                                                     :com.adityaathalye.grugstack.system.server]}}
