{:paths ["resources"]
 :deps {grugstack/grugstack {:local/root "grugstack"}
        org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:example_app {:extra-deps {example_app/example_app {:local/root "example_app"}}}
           :tblm/mothra {:extra-deps {tblm/mothra {:local/root "tblm/mothra"}}}}}
