{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "org.evalapply.smol-web-app"]}
  :run-x {:ns-default org.evalapply.smol-web-app
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.5"}}
          :ns-default build}
  :dev {:extra-deps
        {clj-http/clj-http {:mvn/version "3.12.3"}}}
  :test {:extra-paths ["test"] ; clj -X:dev:test # at the command line
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main 'clojure.main
         :exec-fn cognitect.test-runner.api/test
         :main-args ["-m" "cognitect.test-runner"]}}}
