{:com.adityaathalye.grugstack.system.core/settings {:app-name "snafuapp"
                                                    :runtime-environment-type "dev",
                                                    :system-modules
                                                    [:com.adityaathalye.grugstack.system.runtime
                                                     :com.adityaathalye.grugstack.system.db.sqlite
                                                     :com.adityaathalye.grugstack.system.db.primary.sqlite
                                                     :com.adityaathalye.grugstack.system.db.sessions.sqlite
                                                     :com.adityaathalye.grugstack.system.application
                                                     :com.adityaathalye.grugstack.system.server
                                                     :com.acmecorp.snafuapp.handlers.core]}
 :com.adityaathalye.grugstack.system.server/jetty-adapter {:port 13338}}
